[submodule "themes/pixyll"]
	path = themes/pixyll
	url = https://github.com/azmelanar/hugo-theme-pixyll.git
[submodule "themes/hemingway2"]
	path = themes/hemingway2
	url = https://gitlab.com/beli3ver/hemingway2.git
[submodule "themes/zen"]
	path = themes/zen
	url = https://github.com/rakuishi/hugo-zen.git
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
